@import url("./App.css");
@import url("./UserProfile.css");
@import url("./Settings.css");
@import url("./AuthPage.css");
@import url("./Explore.css");

:root {
    --primary: #a974ff;
    --secondary: #57b9fd;
    --dark: #9699a9;
    --nav: #293c76;
    --default-margin: 10px;
    --default-padding: 10px;
    --default-radius: 12px;
    --default-border: 1px solid var(--dark);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #3c3c3c;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
    padding: var(--default-padding);
    background: var(--primary);
    border-radius: var(--default-radius);
}

ul,
li {
    list-style: none;
}
