.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal__Container {
    position: relative;
    width: 50%;
    height: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    z-index: 1001;
}

.Modal__CommentsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.Modal__Content {
    display: flex;
    height: 100%;
    width: 100%;
}

.Modal__ImageContainer {
    width: 100%;
}

.Modal__Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Modal__Social {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}

.Modal__CommentInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -12px;
    background: #fff;
}

.Modal__CommentInput {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    background: #fff;
    padding: 10px;
    margin-bottom: 12px;
    border-top: 2px solid var(--primary);
}

.Modal__CommentButton {
    border-radius: 0px 10px 0px 0px;
    display: flex;
}

#Modal__Input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    border-radius: 0;
    font-size: 1.2rem;
    background-color: transparent;
    border-top: 2px solid var(--primary);
}

.Modal__Send {
    width: 50px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}

.Modal__Send img {
    width: 30px;
}

.Modal__ActionsContainer {
    display: flex;
}

.Modal__Actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Modal__ActionsContainer {
    width: 60%;
    display: flex;
    gap: 100px;
    margin-left: 20px;
    justify-content: center;
}

.Modal__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    gap: 10px;
}

.Modal__UserImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.Modal__Username {
    font-size: 1.2rem;
}

.Modal__Comments {
    width: 100%;
}

.Modal__CommentsList {
    width: 100%;
    overflow-y: auto;
    max-height: 50vh; /* Limits the height of the comment list */
    margin-bottom: 20px;
    padding-bottom: 60px;
}

.Modal__Comment {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0;
    font-size: 1.2rem;
}

.Modal__CommentImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Modal__CommentUsername {
    font-weight: bold;
    font-size: 0.9rem;
}

.Modal__CommentText {
    font-size: 1rem;
    font-weight: 400;
}

.Modal__CommentDate {
    font-size: 0.8rem;
}

.Modal__Close {
    display: none;
}

.Modal__LikeImage {
    width: 30px;
}

.Modal__CommentInputField {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .Modal__Container {
        width: 100%;
        height: 100%;
        position: static;
    }

    .Modal__Social {
        width: 100%;
    }

    .Modal__Content {
        flex-direction: column;
        width: 100%;
    }

    .Modal__Close {
        display: flex;
        justify-content: end;
        z-index: 1002;
        background: none;
    }

    .Modal__Arrow {
        width: 20px;
    }

    .Modal__CommentsContainer {
        width: 100%;
    }

    .Modal__CommentsList {
        height: 40vh; /* Adjust height for smaller screens */
    }

    .Modal__Send {
        border-left: none;
    }
    .Modal__Comments {
        width: 95%; /* Adjust width for smaller screens */
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .Modal__CommentInputContainer {
        width: 100%;
    }

    .Modal__CommentButton {
        justify-content: center;
        align-items: center;
    }

    .Modal__Image {
        padding: 0 20px;
        border-radius: 10px;
        height: 60vh;
    }

    .Modal__Actions {
        position: absolute;
        bottom: 50px;
        background: white;
    }
}

@media screen and (max-width: 768px) {
    .Modal__Container {
        width: 100%;
        height: 100%;
    }

    .Modal__Image {
        height: 50vh;
    }

    .Modal__CommentsList {
        height: 35vh;
    }

    .Modal__Comments {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .Modal__Username {
        font-size: 1rem;
    }

    .Modal__UserImage {
        width: 40px;
        height: 40px;
    }

    .Modal__Send img {
        width: 20px;
    }
}

@media screen and (min-width: 2000px) {
    .Modal__Comments {
        padding-bottom: 120px;
        margin: 20px;
    }
}
