.Container {
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
}

.Header__logo {
    font-size: 2rem;
    font-weight: bold;
}
